interpreter = ["bash", "-euo", "pipefail", "-c"]

[[task]]
group = "versions"
name = "engage"
script = "engage --version"

[[task]]
group = "versions"
name = "rustc"
script = "rustc --version"

[[task]]
group = "versions"
name = "cargo"
script = "cargo --version"

[[task]]
group = "versions"
name = "cargo-fmt"
script = "cargo fmt --version"

[[task]]
group = "versions"
name = "rustdoc"
script = "rustdoc --version"

[[task]]
group = "versions"
name = "cargo-clippy"
script = "cargo clippy -- --version"

[[task]]
group = "versions"
name = "lychee"
script = "lychee --version"

[[task]]
group = "lints"
name = "cargo-fmt"
script = "cargo fmt --check -- --color=always"

[[task]]
group = "lints"
name = "cargo-doc"
script = """
RUSTDOCFLAGS="-D warnings" cargo doc \
    --workspace \
    --no-deps \
    --document-private-items \
    --color always
"""

[[task]]
group = "lints"
name = "cargo-clippy"
script = "cargo clippy --workspace --all-targets --color=always -- -D warnings"

[[task]]
group = "lints"
name = "taplo-fmt"
script = "taplo fmt --check --colors always"

[[task]]
group = "lints"
name = "lychee"
script = "lychee --offline docs"

[[task]]
group = "tests"
name = "cargo"
script = """
cargo test \
    --workspace \
    --all-targets \
    --color=always \
    -- \
    --color=always
"""
